---
import HeaderLink from "./HeaderLink.astro";
import { EmailSelect } from "./EmailSelect";
---

<header>
  <nav class="flex gap-3">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/guestbook">Guestbook</HeaderLink>
    <HeaderLink
      href="https://github.com/chrisrusselljr"
      target="_blank"
      data-splitbee-event="Visit Github"
      data-splitbee-event-linkType="Header">GitHub</HeaderLink
    >
    <EmailSelect client:visible />
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
